.scroll-up {
  color: var(--cyan-lime);
  position: fixed;
  bottom: 0;
  right: 0;
  height: 50px;
  width: 50px;
  border: 1px solid var(--cyan-lime);
  border-radius: 50%;
  display: none;
  place-items: center;
  margin: 10px;
  cursor: pointer;
}
